<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ inventory_hostname }}</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: "Helvetica", sans-serif;
        background-color: #f4f4f4;
      }
      h1 {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        color: #333;
        font-family: "Helvetica", sans-serif;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <h1>Hello World from SJSU-{{ inventory_hostname }}</h1>
  </body>
</html>
